
@model MVCTestWeb.Models.EmployeeFinal
    <div class="form-horizontal">
        <input type="hidden" id="editID" />
        <div class="form-group">
            @Html.LabelFor(model => model.eMPLOYEE.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="editName"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eMPLOYEE.CITY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="editCity"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eMPLOYEE.AGE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="editAge"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eMPLOYEE.DEPTID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="editDeptID"/>
            </div>
        </div>
</div>

        

